<div class="row">
  <div class="col-12 col-md-12 p-3">
    <h3>
      Welcome to the family
    </h3>
    <p>
      This is a demo for another page like about us, information, promotion and
      more... just create new page and create link on home page.
    </p>
  </div>
  <div class="col-12 col-md-5 p-3 p-md-5">
    <img class="img-fluid rounded" src="https://bstp.sourceforge.io/voc.jpg" />
  </div>
  <div class="col-12 col-md-7 p-3 p-md-5">
    <h3>
      <u>About Developer</u>
    </h3>
    <p>
      Helo... i'm creative by dre, and love with photography , digital art, and
      codding too..<br />
      Just learn about angular, how this framework make me falling in love....
      yeah... super complicated and made my head almost bald, but it all paid
      off with the satisfaction of using angular.
    </p>
    <p>
      a special pride to use this angular framework to develop a website app
    </p>
    <p>
      Look at many developers who give up when touching angular, that means
      angular really makes a challenge that we have to master right? that's what
      encouraged me to always learn and use angular. let's start with angular
      now
    </p>
    <p>
      Need help or have web app project you can call us <br />whatsapp :
      +6285646104747 or call us : +6287819355589
    </p>
  </div>
  <div class="col-12 col-md-12 p-3 p-md-5">
    <h2 class="border border-dark text-center p-3">
      List we angular open source code project
    </h2>
  </div>
  <div class="col-12 col-md-6 p-3 p-md-5">
    <h3>
      ANgular BLogs
    </h3>
    <img
      class="img-fluid shadow rounded"
      alt="angular blog cms"
      src="https://a.fsdn.com/con/app/proj/angularapp/screenshots/Screenshot_2020-09-23%20Angular%20Blog.jpg/max/max/1"
    />
    <p>
      Angular blog : for simple blogging and blast fast with angular blog
      platform .<br />
      <a href="https://sourceforge.net/projects/angularapp/" target="_blank"
        >Download now →</a
      >
      ,
      <a href="https://github.com/mesinkasir/angularblogcms" target="_blank"
        >Fork Now →</a
      >
      ,
      <a href="https://angularblog.stackblitz.io" target="_blank"
        >Chek demo →</a
      >
    </p>
  </div>
  <div class="col-12 col-md-6 p-3 p-md-5">
    <h3>
      Phoneixs Angular CMS
    </h3>
    <img
      class="img-fluid shadow rounded"
      alt="phoneixs angular blog cms"
      src="https://a.fsdn.com/con/app/proj/phoneixs/screenshots/Screenshot_2020-09-24%20AngularBlog%20-%20Copy.jpg/max/max/1"
    />
    <p>
      Phoneixs angular is modern and dinamic angular blog cms platform buidl
      with angular integration using firebase real time database , build your
      new modern website with phoneixs angular now .<br />
      <a href="https://sourceforge.net/projects/angularpos/" target="_blank"
        >Download now →</a
      >
      ,
      <a href="https://github.com/mesinkasir/phoneixs" target="_blank"
        >Fork Now →</a
      >
      ,
      <a href="https://www.youtube.com/watch?v=0Pw8jbYJa_k" target="_blank"
        >Teaser Video →</a
      >
      <a href="https://phoneixsangular.web.app" target="_blank">Chek demo →</a>
    </p>
  </div>
  <div class="col-12 col-md-6 p-3 p-md-5">
    <h3>
      Laravel Angular CMS
    </h3>
    <img
      class="img-fluid shadow rounded"
      alt="phoneixs angular blog cms"
      src="https://a.fsdn.com/con/app/proj/larapos/screenshots/new%20cms%20blog%20laravel%20angular%20website%20blog%20%281%29.png/max/max/1"
    />
    <p>
      Develope with laravel on backend and you can integration with angular
      too.. call it larang laravel angular cms blogging platform.<br />
      <a href="https://sourceforge.net/projects/larapos/" target="_blank"
        >Download now →</a
      >
      ,
      <a href="https://github.com/mesinkasir/larang" target="_blank"
        >Fork Now →</a
      >
      ,
      <a
        href="https://www.youtube.com/watch?v=mJM2b5Ok7rg&t=184s"
        target="_blank"
        >Chek demo →</a
      >
    </p>
  </div>
  <div class="col-12 col-md-6 p-3 p-md-5">
    <h3>
      Frontend Backoffice chromispos unicenta pos
    </h3>
    <img
      class="img-fluid shadow rounded"
      alt="chromis pos unicenta pos angular"
      src="https://a.fsdn.com/con/app/proj/chromis-unicenta-online-apps/screenshots/chromispos%20unicenta%20online%20web%20app%20%284%29.png/max/max/1"
    />
    <p>
      Old school point of sale with integration angular for frontend, yeah,,
      this is featch data from your unicenta opos and chromis for backoffice
      admin.<br />
      <a
        href="https://sourceforge.net/projects/chromis-unicenta-online-apps/"
        target="_blank"
        >Download now →</a
      >
      ,
      <a
        href="https://github.com/mesinkasir/chromispos-unicentapos-angular-apps"
        target="_blank"
        >Fork Now →</a
      >
      ,
      <a
        href="https://www.youtube.com/watch?v=-Gv1Ibi2OeM&t=166s"
        target="_blank"
        >Chek demo →</a
      >
    </p>
    <hr />
    <h3>
      Kios POS angular
    </h3>
    <img
      class="img-fluid shadow rounded"
      alt="chromis pos unicenta pos angular"
      src="https://a.fsdn.com/con/app/proj/angularpos/screenshots/angular%20point%20of%20sale.png/max/max/1"
    />
    <p>
      Angular pos with calculator digital for support your bussines, a simple
      with image menu's make your pos elegant, try and download source code free
      .<br />
      <a href="https://sourceforge.net/projects/angularpos/" target="_blank"
        >Download now →</a
      >
      ,
      <a href="https://github.com/mesinkasir/angularpos-kiospos" target="_blank"
        >Fork Now →</a
      >
      ,
      <a
        href="https://www.youtube.com/watch?v=I4zuwV203Kk&t=201s"
        target="_blank"
        >Chek demo →</a
      >
    </p>
  </div>
</div>
