<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="row">
  <div class="col-12 col-md-12 p-3 p-md-5 bg-dark text-center">
    <h3 class="text-white">Angular Shop Apps</h3>
  </div>
  <div class="col-4 col-md-3 p-3 p-md-5 bg-dark">
    <div class="p-3 p-md-5 text-white">
      <a routerLink="/">Home</a>
      <hr class="bg-white" />
      <a routerLink="/about">About</a>
      <hr class="bg-white" />
      <a routerLink="/about">Info</a>
      <hr class="bg-white" />
      <a routerLink="/about">Blogs</a>
      <hr class="bg-white" />
      <a routerLink="/about">Promotion</a>
      <hr class="bg-white" />
    </div>
  </div>
  <div class="col-4 col-md-3 p-3 p-md-5 bg-dark">
    <div class="p-3 p-md-5 text-white">
      <a routerLink="/about">T-shirt</a>
      <hr class="bg-white" />
      <a routerLink="/about">Jacket</a>
      <hr class="bg-white" />
      <a routerLink="/about">Shoes</a>
      <hr class="bg-white" />
      <a routerLink="/about">Sandal</a>
      <hr class="bg-white" />
      <a routerLink="/about">Kelompen</a>
      <hr class="bg-white" />
    </div>
  </div>
  <div class="col-4 col-md-3 p-3 p-md-5 bg-dark">
    <div class="p-3 p-md-5 text-white">
      <a routerLink="/about">Order</a>
      <hr class="bg-white" />
      <a routerLink="/about">Promotion</a>
      <hr class="bg-white" />
      <a routerLink="/about">Event</a>
      <hr class="bg-white" />
      <a routerLink="/about">Contact</a>
      <hr class="bg-white" />
      <a routerLink="/about">Maps</a>
      <hr class="bg-white" />
    </div>
  </div>
  <div class="col-12 col-md-3 p-3 p-md-5 bg-dark">
    <div class="p-3 p-md-5 text-white border border-white">
      Angular shop is a open source code project for online shop, develope by
      son andreas creative by dre, team dev
      <a href="https://axcora.com" target="_blank">axcora technology</a
      >.<br />need a angular blog just visit
      <small
        ><a href="https://phoneixsangular.web.app" target="_blank"
          >phoneixsangular.web.app</a
        ></small
      >
    </div>
  </div>
</div>
<app-bottom-bar></app-bottom-bar>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
