<div class="row">
  <div class="col-12 col-md-12 text-center">
    <a [routerLink]="['/']">
      <img
        class="img-fluid"
        width="120"
        src="https://mesinkasironline.web.app/img/createwebsiteusingangular.png"
      />
    </a>
    <h2>Angular Online Shop</h2>
  </div>
  <div class="col-12 col-md-12 text-center">
    <div class="ratio ratio-21x9 shadow">
      <iframe
        class="rounded"
        src="https://www.youtube.com/embed/7E-uPPqSrVg"
        title="Angular online shop"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="col-12 col-md-6 p-3 text-center">
    <img
      class="img-fluid"
      src="https://1.bp.blogspot.com/-EnJa4Dj7bnw/YAhAj9V7xpI/AAAAAAAAMdA/xzlv9RhVzSMEdB9D-IMvfSlNbUFVra7DgCLcBGAsYHQ/s1250/ssa.jpg"
    />
  </div>
  <div class="col-12 col-md-6 p-3 text-center">
    <img
      class="img-fluid"
      src="https://1.bp.blogspot.com/-nbqhrJWUlyw/YAhAjxN5SOI/AAAAAAAAMc8/nsi753376s8IlNyKnQ9RczRLZwGtcsi9QCLcBGAsYHQ/s851/asd.jpg"
    />
  </div>
  <div class="col-12 col-md-12 p-3 text-center">
    <img
      class="img-fluid"
      width="100%"
      src="https://bstp.sourceforge.io/jis.jpg"
    />
  </div>
  <div
    *ngFor="let product of products; index as productId"
    class="col-6 col-md-3 p-3"
  >
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', productId]"
    >
      <div class="card">
        <img class="img-fluid" src="{{ product.img }}" />
        <div class="card-body bg-danger">
          <h3 class="card-title text-white">
            {{ product.name }}
          </h3>
          <p *ngIf="product.description" class="card-text text-white">
            Description: {{ product.description }}
          </p>
        </div>
      </div>
    </a>
    <br />
  </div>
</div>
